/bin/
*.exe
*.so
*.dylib
*.a
*.h.bak
local.properties

adapters/flutter/pubspec.lock
adapters/flutter/.dart_tool/
adapters/flutter/.flutter-plugins
adapters/flutter/.flutter-plugins-dependencies
adapters/flutter/.packages
adapters/flutter/.pub-cache/
adapters/flutter/.pub/
adapters/flutter/build/
adapters/flutter/android/.gradle/
adapters/flutter/android/local.properties
adapters/flutter/android/src/main/jniLibs/.native_version
